@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------- Colours  */

.page-container {
    display: grid;
    justify-content: center;
    background-color: #D5D9DE;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 150px 1fr 1fr;
    position: relative;
}
/*----------------------------------------------------------- Timer  */

#tests-heading {
    padding: 1.2em;
}

.tests-body {
    text-align: center;
}

/*----------------------------------------------------------- Header  */
.main-header{
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 12;
}

.main-heading {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3.3rem;
    font-weight: 300;
}

.main-sub-heading{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 200;
}

/*----------------------------------------------------------- Timer  */

.timer-container{
    background-color: white;
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
}

.close-timer-x {
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 1.6rem;
    cursor: pointer;

}
.timer-box {
    display: flex;
    align-items: center;
}

#play {
    display: none;
    cursor: pointer;
}

#stopWatchTimerTitle {
    display: flex;
}

#alarm-on {
    display: inline-block;
}

#alarm-off {
    display: none;
}
/*----------------------------------------------------------- Popover Options Box  */


#popover {
    position: absolute;
    left: -2100px;
}
.popover-box {
    width: 200px;
    position: relative;
}

.tippy-box[data-theme~='blueish'] {
  background-color: rgb(255, 254, 254);
  color: rgb(47, 0, 255);
  box-shadow:inset 0px 0px 0px 5px rgb(47, 0, 255);
  padding: 10px;
}

.tippy-box[data-theme~='blueish'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(47, 0, 255);
}
.tippy-box[data-theme~='blueish'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(47, 0, 255);
}
.tippy-box[data-theme~='blueish'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(47, 0, 255);
}
.tippy-box[data-theme~='blueish'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(47, 0, 255);
}

.task-options-list{
    list-style-type: none;
    cursor: pointer;
}




/*----------------------------------------------------------- Add New Task  */

.add-new-task{
    display: flex;
    justify-content: center;
}
#new-task-input{
    height: 40px;
    width: 300px;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid lightgray;
}
/* Make the placeholder text larger */

#new-task-input::placeholder{
    font-size: 1.4rem;
}
.add-new-task-plus-icon {
    display: block;
    font-size: 2em;
}
/*----------------------------------------------------------- Focus Overlay  */

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: #000000;
    opacity: 0.05;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

/*----------------------------------------------------------- Task List  */

.list-container {
    background-color: white;
    border-radius: 10px;
    grid-column: 3 / 11;
    padding: 1em;
}

#list {
    display: flex;
    flex-direction: column;
}

.task {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    padding: 0.5rem;
    display: grid;
    list-style-type: none;
    align-items: center;
    grid-template-columns: 150px 30px 1fr auto 20px 20px 20px 20px 20px 20px 20px 20px;

}

.edit-time-task {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    display: grid;
    list-style-type: none;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 10px;
    border: solid 6px royalblue;
    padding: 1em;
    background-color: peachpuff;
    justify-items: center;
}

.edit-time-task-title{
    grid-row: 1 / 2;
}
.edit-time-task-description{
    grid-row: 1 / 2;
    grid-column: 2 / 7;
}
.edit-time-hours-label{
    grid-row: 2 / 3;
    grid-column: auto;
}
.edit-time-hours{
    grid-row: 2 / 3;
    grid-column: auto;
}
.edit-time-minutes-label{
    grid-row: 2 / 3;
}
.edit-time-minutes{
    grid-row: 2 / 3;
}
.edit-time-seconds-label{
    grid-row: 2 / 3;
}
.edit-time-seconds{
    grid-row: 2 / 3;
}
.edit-time-save-button{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    padding: 1em;
    background-color: 
}
.edit-time-cancel-button{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    padding: 1em;
}

.task:after {
  content:'';
  display:inline-block;
  width:100%; height:100%;
  border-bottom:1px solid lightgray;
  grid-column: 1 / 13;
  margin-top: 5px;
}


.start-stopwatch,
.task-options-icon {
    cursor: pointer;
}

.sort-tasks-icon{
    cursor: grab;
}

.completed {
    text-decoration: line-through;
}

/*----------------------------------------------------------- Charts   */

.focus-summary-container{
}

/*----------------------------------------------------------- MEDIA QUERIES: Small Screens   */
@media screen and (min-width: 576px) {

}
/*----------------------------------------------------------- MEDIA QUERIES: Medium Screens   */
@media screen and (min-width: 768px) {}


/*----------------------------------------------------------- MEDIA QUERIES: Large Screens   */

@media screen and (min-width: 992px) {}

/*----------------------------------------------------------- MEDIA QUERIES: Extra-Large Screens   */

@media screen and (min-width: 1200px) {}