@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------- Colours  */

:root {
	--pure-black: #000000;
	--pure-white: #ffffff;
	--dark-blue: #33A8C7;
	--light-blue: #52E3E1;
	--grass-green: #A0E426;
	--sun-yellow: #FDF148;
	--orange: #FFAB00;
	--coral: #F77976;
    --happy-pink: #F050AE;
    --purple-blush: #D883FF;
    --strong-lavendar: #9336FD;
}

.page-container {
    display: grid;
    justify-content: center;
    background-color: var(--pure-white);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto 1fr;
    position: relative;
}
/*----------------------------------------------------------- Timer  */

#tests-heading {
    padding: 1.2em;
}

.tests-body {
    text-align: center;
}

/*----------------------------------------------------------- Header  */
.main-header{
    background-color: var(--sun-yellow);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 13;
    justify-content: center;
    -webkit-box-shadow: 0px 14px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 14px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 14px 0px 0px rgba(0,0,0,1); 
}

.main-heading {
    font-family: "Secular One", sans-serif;
    font-size: 3.3rem;
    font-weight: 300;
    letter-spacing: 11px;
    text-transform: uppercase;
}

.main-sub-heading{
    font-family: "Secular One", sans-serif;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: 8px;
    text-transform: lowercase;
}

/*----------------------------------------------------------- Timer  */

.timer-container{
    background-color: var(--light-blue);
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em;
}

.close-timer-x {
    position: absolute;
    right: 12px;
    top: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--pure-white);
    border: 3px solid var(--pure-white);
    padding: 0.7em;
    border-radius: 50%;
}

.outer-timer-box{
    display: grid;
    width: 200px;
    height: 200px;
    border: 5px solid var(--sun-yellow);
    border-radius: 50%;
    padding: 2em;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.timer-box {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.timer-controls{
    justify-self: center;
}
.timer-controls a{
    color: var(--pure-white);
    font-size: 2em;
}
.timer-box h2{
    font-family: "Heebo", sans-serif;
    font-size: 1.6em;
    color: var(--pure-white);
}

#play {
    display: none;
    cursor: pointer;
}

#stopWatchTimerTitle {
    display: flex;
}

#alarm-on {
    display: inline-block;
}

#alarm-off {
    display: none;
}

.timer-title {
    color: var(--pure-black);
    font-family: "Secular One", sans-serif;
    letter-spacing: 11px;
    text-transform: uppercase;
}

.timer-task-description{
    color: var(--pure-white);
    padding: 0.3em;
    font-family: "Heebo", sans-serif;
    letter-spacing: 2px;
    font-weight: 300;
    border-bottom: var(--pure-white) 2px solid;
    margin-bottom: 20px;
    
}

#save-time-to-task {
    background-color: var(--sun-yellow);
    padding: 1em;
    color: var(--pure-black);
    font-family: "Heebo", sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    border: 2px solid var(--pure-black);
    border-radius: 8px;
    -webkit-box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
    transition: all 500ms;
}
#save-time-to-task:hover{
    /* -webkit-box-shadow: 1px 2px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 2px 0px 0px rgba(0,0,0,1);
    box-shadow: 1px 2px 0px 0px rgba(0,0,0,1); */
    background-color: var(--pure-white);
    color: var(--pure-black);
}
#save-time-to-task:active{
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
    outline: none;
}

/*----------------------------------------------------------- Popover Options Box  */


#popover {
    position: absolute;
    left: -2100px;
}
.popover-box {
    width: 200px;
    position: relative;
}

.tippy-box[data-theme~='blueish'] {
  background-color: rgb(255, 254, 254);
  color: var(--pure-black);
  box-shadow:inset 0px 0px 0px 5px rgb(47, 0, 255);
  padding: 10px;
}

.tippy-box[data-theme~='blueish'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #000000;
}
.tippy-box[data-theme~='blueish'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(0, 0, 0);
}
.tippy-box[data-theme~='blueish'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(47, 0, 255);
}
.tippy-box[data-theme~='blueish'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(47, 0, 255);
}

.task-options-list{
    list-style-type: none;
    cursor: pointer;
}


/*----------------------------------------------------------- Add New Task  */

.add-new-task{
    display: flex;
    justify-content: center;
}
#new-task-input{
    height: 40px;
    width: 300px;
    font-size: 1.4rem;
    border: none;
    border-bottom: 5px solid var(--pure-black);
}

#new-task-input:focus{
    outline: none;
}
/* Make the placeholder text larger */

#new-task-input::placeholder{
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
}
.add-new-task-plus-icon {
    display: block;
    font-size: 2em;
}

/* Add New Task Button */
#add-new-task {
    border-radius: 50%;
    background-color: var(--sun-yellow);
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,1);
}
/*----------------------------------------------------------- Focus Overlay  */

.overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background-color: #000000;
    opacity: 0.05;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

/*----------------------------------------------------------- Task List  */

.list-container {
    background-color: white;
    border-radius: 10px;
    grid-column: 3 / 11;
    grid-row: 3 / 7;
    margin-top: 16px;
    padding: 2em;
    
}

#list {
    display: flex;
    flex-direction: column;
}

.task {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    padding: 0.5rem;
    display: grid;
    list-style-type: none;
    align-items: center;
    grid-template-columns: 150px 30px 1fr auto 20px 20px 20px 20px 20px 20px 20px 20px;

}

.edit-time-task {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    display: grid;
    list-style-type: none;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 10px;
    border: solid 6px royalblue;
    padding: 1em;
    background-color: peachpuff;
    justify-items: center;
}

.edit-time-task-title{
    grid-row: 1 / 2;
}
.edit-time-task-description{
    grid-row: 1 / 2;
    grid-column: 2 / 7;
}
.edit-time-hours-label{
    grid-row: 2 / 3;
    grid-column: auto;
}
.edit-time-hours{
    grid-row: 2 / 3;
    grid-column: auto;
}
.edit-time-minutes-label{
    grid-row: 2 / 3;
}
.edit-time-minutes{
    grid-row: 2 / 3;
}
.edit-time-seconds-label{
    grid-row: 2 / 3;
}
.edit-time-seconds{
    grid-row: 2 / 3;
}
.edit-time-save-button{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    padding: 1em;
    background-color: 
}
.edit-time-cancel-button{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    padding: 1em;
}

.task:after {
  content:'';
  display:inline-block;
  width:100%; height:100%;
  border-bottom:1px solid lightgray;
  grid-column: 1 / 13;
  margin-top: 5px;
}


.start-stopwatch,
.task-options-icon {
    cursor: pointer;
}

.sort-tasks-icon{
    cursor: grab;
}

.completed {
    text-decoration: line-through;
}

/*----------------------------------------------------------- Charts   */

.focus-summary-container{
    grid-row: 7 / 8;
    grid-column: 1 / 13;
    text-align: center;
    background-color: white;
}

svg {
    border: 2px solid #000000;
}

path text {
   font: 12px arial, sans-serif;
   text-anchor: middle;
}

.arc path {
   stroke: #fff;
}


div.tooltip-donut {	
    position: absolute;			
    text-align: center;								
    padding: .5rem;				
    background: #FFFFFF;
    color: #313639;	
    border: 1px solid #313639;		
    border-radius: 8px;			
    pointer-events: none;
    font-size: 1.3rem;			
}



/*----------------------------------------------------------- MEDIA QUERIES: Small Screens   */
@media screen and (min-width: 576px) {

}
/*----------------------------------------------------------- MEDIA QUERIES: Medium Screens   */
@media screen and (min-width: 768px) {}


/*----------------------------------------------------------- MEDIA QUERIES: Large Screens   */

@media screen and (min-width: 992px) {}

/*----------------------------------------------------------- MEDIA QUERIES: Extra-Large Screens   */

@media screen and (min-width: 1200px) {}